html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-shadow: 2px 2px black; }
body { margin: 0; font-size: 1.5em; line-height: 1.6em; background-color: rgb(26,26,24); }
body, button, input, select, textarea { font-family: 'Ubuntu Mono',monospace, sans-serif; color: rgb(241,243,217); }
a { color: rgb(241,243,217); text-decoration: none; }
a:visited { color: rgb(241,243,217); }
a:hover { color: rgb(249,49,62); text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
canvas:hover { cursor: pointer; }

.nav-link:hover { cursor: pointer; color: rgb(249,49,62); }
.center { margin: 0 auto; text-align: center; }
.round { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.hide { display: none; }
.hilight { color: rgb(243,228,16); }
.selected { color: rgb(249,49,62); }
.zero { opacity: 0.0;
-moz-opacity: 0.0;
filter:alpha(opacity=0);}

#main { height: 100%; overflow: none; }
#connect { padding-top: 10px; }
#name { width: 425px; text-align: center; position: relative; font-size: 60px; font-weight: 400; }
#name span { padding: 0 0 10px 0; border-bottom: 1px solid #2cab2c; }
#links { width: 425px; text-align: center; position: relative; top: 35px; }
#links a { padding: 0 10px 0 10px; }
#content { position: relative; top: 20%; }
#details { font-size: 0.8em; width: 500px; position: relative; top: 50px; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }